<head>
        <meta charset="utf-8">
        <link rel="data" type="application/json" href="/data.json">
        <%= javascript_include_tag "d3"%>
        <%= stylesheet_link_tag "stylesheet"%>
        
    </head>
    <body>
        <div>
            Feeder Breaker Fault Simulation:
        </div>
        <div>
            <%= javascript_include_tag "graph"%>
        </div>  
         
    </body>
