<head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheet.css">
        <%= javascript_include_tag "d3"%>
        
    </head>
    <body>
        <div>
            Feeder Breaker Fault Simulation:
        </div>
        <div>
            <%= javascript_include_tag "graph"%>
        </div>  
         
    </body>
